VITE_API_URL=http://localhost:3001/api
VITE_SUPABASE_URL=https://usdivezdkroyktpgsvvc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVzZGl2ZXpka3JveWt0cGdzdnZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3NDI0MTQsImV4cCI6MjA4OTMxODQxNH0.VRcbU6qvWAl12dDhfgGWGJCaw2snB_B2rb3M1CEZaOI
VITE_MICROSOFT_CLIENT_ID=your_azure_app_client_id
